@media (max-width: 1024px) {
    .bg-white.p-3 {
        width: 40% !important;
    }
@media (max-width: 768px) {
.bg-white.p-3 {
    width: 50% !important;
}
  }
  
@media (max-width: 425px) {
    .bg-white.p-3 {
        width: 80% !important;
    }
}